.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.textfield {
  padding: .5rem;
}
.textfield .MuiFormControl-root {
  width: 100%;
}
.playerList {
  padding: .5rem;
  margin-bottom: .5rem;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#playerInput {
  display: flex;
  align-items: center;
  padding-bottom: 0;
}

.roleBox {
  padding: .5rem;
  margin-bottom: .5rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mafia {
  color: red;
  border: 1px solid red;
}

.villager {
  color: black;
  border: 1px solid black;
}

.angel {
  color: lightskyblue;
  border: 1px solid lightskyblue;
  
}